{% extends 'base.html.twig' %}  

{% block body %}  
<!-- HomePage Start -->
<div class="service">
    <div class="container">
        <div class="section-header">
            <h2>A propos de moi</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <h3>Mes projets</h3>
                    <p>
                                    
                    </p>
                    <a class="btn" href="{{ path('my_projects_page') }}">Voir</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <h3>Mon parcours</h3>
                    <p>
                                    
                    </p>
                    <a class="btn" href="{{ path('professional_orientation_page') }}">Voir</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fas fa-tasks"></i>
                    </div>
                    <h3>Gestion de projet</h3>
                    <p>
                                    
                    </p>
                    <a class="btn" href="{{ path('project_management_page') }}">Voir</a>
                </div>
            </div>
                        
        </div>
    </div>
</div>
<!-- HomePage End -->
{% endblock %}

            