{% extends 'base.html.twig' %}

{% block NavBarMenu %}
<div class="navbar-nav mr-auto">
    <a href="{{ path('home_page') }}" class="nav-item nav-link">Accueil</a>
    <a href="{{ path('project_management_page') }}" class="nav-item nav-link active">Gestion projet</a>    
</div>
{% endblock %}

{% block body %}
<!-- Project management Start -->
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-header">
                    <h2>Gérer un projet informatique</h2>
                </div>
                {% for management in managements %}
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <div class="feature-icon">
                            <i class="{{management.icon}}"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <h3>{{management.title}}</h3>
                        <p>{{management.description}}</p>
                    </div>
                </div>
                {% endfor %}           
            </div> 
            <div class="col-md-5">
                <div class="feature-img">
                    <img src="{{ asset('build/images/feature.jpg') }}" alt="Feature">
                </div>
            </div>     
        </div>
    </div>
</div> 
<!-- Project management End -->
{% endblock %} 
            