{% extends 'base.html.twig' %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}

{% block NavBarMenu %}
<div class="navbar-nav mr-auto">
    <a href="{{ path('home_page') }}" class="nav-item nav-link">Accueil</a>
    <a href="{{ path('my_projects_page') }}" class="nav-item nav-link active">Mes projets</a>
</div>
{% endblock %}

{% block body %}
<!-- My projects Start -->
<div class="blog">
    <div class="container">
        <div class="section-header">
            <h2>Mes projets</h2>
        </div>

        <div id="content">
            <div class="row blog-page">
                {% for project in projects %}
                <div class="col-lg-4 col-md-6 blog-item">
                    <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('project_image') }}"
                        alt="Blog">
                    <!--<img src="{{ asset(project.filePath) }}" alt="Image">-->
                    <h3>{{project.name}}</h3>
                    <div class="meta">
                        <i class="fa fa-calendar-alt"></i>
                        <p>{{project.startdate|format_datetime('medium', 'short')}}</p>
                    </div>
                    <p>{{project.description|u.truncate(200,'...', false)}}</p>
                    <a class="btn" href="{{ path('project_details_page', {'slug': project.slug}) }}">Suite <i
                            class="fa fa-angle-right"></i></a>
                </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                {% do projects.setPageRange(2) %}
                {{ knp_pagination_render(projects, 'paging.html.twig') }}
            </div>
        </div>
    </div>
</div>
<!-- My projects End -->

{% endblock %}