{% extends 'base.html.twig' %}

{% block NavBarMenu %}
<div class="navbar-nav mr-auto">
    <a href="{{ path('home_page') }}" class="nav-item nav-link">Accueil</a>
    <a href="{{ path('professional_orientation_page') }}" class="nav-item nav-link active">Parcours</a>    
</div>
{% endblock %}

{% block body %}
 <!-- StoryTelling Start -->
<div class="timeline">
    <div class="container">
        <div class="section-header">
            <h2>Anecdote</h2>
        </div>
        
        <div class="timeline-start">
        {% for storytelling in storytellings %}
            {% if storytelling.inLeft %}
            <div class="timeline-container left">
                <div class="timeline-content">
                    <h2><span>{{storytelling.author}}</span>{{storytelling.quote}}</h2>
                    <p>{{storytelling.story}}</p>
                </div>
            </div>
            {% else %}
            <div class="timeline-container right">
                <div class="timeline-content">
                    <h2><span>{{storytelling.author}}</span>{{storytelling.quote}}</h2>
                    <p>{{storytelling.story}}</p>
                </div>
            </div> 
            {% endif %}  
        {% endfor %}                 
        </div>
        
    </div>
</div>
<!-- StoryTelling End -->                  

<!-- Thanks Start -->           
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{{ asset('build/images/livre2.jpg') }}" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header">
                    <h2>Remerciement</h2>
                </div>
                {% for thank in thanks %}
                <div class="about-text">              
                    <h3>{{thank.description}}</h3>
                    <br>                        
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Thanks End -->
{% endblock %}  