{% extends 'base.html.twig' %}

{% block NavBarMenu %}
<div class="navbar-nav mr-auto">
    <a href="{{ path('home_page') }}" class="nav-item nav-link">Accueil</a>
    <a href="{{ path('my_projects_page') }}" class="nav-item nav-link active">Mes projets</a>    
</div>
{% endblock %}

{% block body %}
<!-- My project Start -->
<div class="single">
    <div class="container">
        <div class="section-header">
            <h2>{{project.name}}</h2>
        </div>
        <div class="row"> 
            <div class="col-12">
                {% if picture %}
                    <img class="img-fluid rounded" src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('project_details_image') }}" alt="Image">
                    <!--<img class="img-fluid rounded" src="{{ asset(picture.filePath) }}" alt="Image">-->
                {% else %}
        
                {% endif %}
                <br>   
                <h4>{{project.presentation}}</h4>
                <br>
                <h3>Fonctionnalités :</h3> 
                <ul class="ul-group">
                {% if features %}
                    {% for feature in features %}
                        <h4><li>{{feature.description}}</li></h4>
                    {% endfor %}
                {% else %}
                {% endif %}
                </ul>
                <br>
                <h3>Compétences professionnelles :</h3>
                {% if skills %}
                    {% for skill in skills %}
                        <h4><li>{{skill.description}}</li></h4>
                    {% endfor %}
                {% else %}
                {% endif %}
                <br>
                <h3>Visualiser le projet :</h3>
                <p><h4>Ce projet est disponible sur ce dépôt distant</h4><a href='{{ project.repositorylink }}'>ici</a>.</p>
                <h4>Vous pouvez également tester le projet en ligne <a href="{{ project.sitelink }}">ici</a>.</h4>
                {% if video %}
                    <h4>De plus vous avez la possibilité de découvrir les Fonctionnalités du site à travers cette vidéo.</h4>
                    <video src="{{ asset(video.filepath) }}" controls width="300"></video>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>
<!-- My project End -->
{% endblock %}   
            