<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Law Firm Website Template" name="keywords">
        <meta content="Law Firm Website Template" name="description">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        
        <title>{% block title %}Portfolio{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            {% block TopBarStart %}
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">   
                                <h1></h1>     
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="top-bar-right">
                                <div class="text">
                                    <h2>David</h2>
                                    
                                </div>
                                <div class="text">
                                    <h2>Marivat</h2>
                                </div>
                                <!-- <div class="social">  
                                    <a href="https://www.linkedin.com/in/davidmarivat"><i class="fab fa-linkedin-in"></i></a>    
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            {% block NavBarStart %}
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">MENU</font></font></a>
                        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse justify-content-between collapse" id="navbarCollapse" style="">
                            {% block NavBarMenu %}
                            <div class="navbar-nav mr-auto">
                                <a href="{{ path('home_page') }}" class="nav-item nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></a> 
                                   
                            </div>
                            {% endblock %}
                            <!-- <div class="ml-auto">
                                <a class="btn" href="{#{{ asset('img/cv.pdf') }}#}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Télécharger mon CV</font></font></a>
                                
                            </div> -->
                        </div>    
                    </nav>
                </div>
            </div>
            {% endblock %}
            
            <!-- Page Header Start -->
            {% block PageHeaderStart %}
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Développeur web</h2>
                        </div>
                        <div class="col-12">
                            <a href="">PHP</a>
                            <a href="">Symfony</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- Page Header End -->

            {% block body %}{% endblock %}
            
            
              
            

            <!-- Newsletter Start -->
            {% block NewsletterStart %}
            <div class="newsletter">
                <div class="container">
                    <div class="section-header">
                        <h2>Une question ?</h2>
                        <h2> Contacter moi.</h2>
                    </div>
                    <div class="form">
                        
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- Newsletter End -->


            <!-- Footer Start -->
            {% block FooterStart %}
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-about">
                                <h2></h2>
                                <p>
                                     
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>Admin</h2>
                                {% if not is_granted('ROLE_USER')  %}
                                    <a href="{{ path('app_login') }}">Connexion</a>
                                {% endif %}
                                {% if is_granted('ROLE_USER')  %}
                                    <a href="{{ path('admin') }}">Partie Admin</a>
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-contact">
                                <h2>Contact</h2>
                                <p><i class="fa fa-map-marker-alt"></i>France, Suisse</p>
                                <p><i class="fa fa-phone-alt"></i>06 83 69 65 43</p>
                                <p><i class="fa fa-envelope"></i>david.marivat-larose@orange.fr</p>
                                <!--<div class="footer-social">
                                    <a href="https://www.linkedin.com/in/davidmarivat"><i class="fab fa-linkedin-in"></i></a>
                                </div> -->
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="container footer-menu">
                    <div class="f-menu">
                        
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>David Marivat</p>
                        </div>
                        <div class="col-md-6">
                            <p>Développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- Footer End -->
            
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>
    </body>
</html>
